.App {
  /* display: grid; */
  /* background-color: #dadbd3; */
  /* background-image: url(https://i.pinimg.com/originals/38/f4/9b/38f49bd65875a6376495375e75d63d16.jpg); */

  height:100vh;
  place-items: center;
  margin-top: 10vh;
  margin-left: 5vw;
}

.app_body {
  display: flex;
  height:90vh;
  margin-top: -50px;
  width:90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  background-color: rgb(245, 244, 244);
}